//base scss

/*----- Global Styles/Settings -----*/
html {
  font-size:18px;
  font-family: $font-main;
}


img {
  display: block;
  border: 0;
  width: 100%;
  height: auto;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  &:before, &:after {
    box-sizing: inherit;
  }
}


.logo-main {
  width:auto;
  height:80px;
}

.navStyle {
  font-size:1rem;
  font-weight:700;
  color:black!important;
  padding-left:1rem!important;
  padding-right:1rem!important;
  font-family:$font-display;
}


.landingpage {
  background-color:#f9f9f9;
  height:100vh;
  margin:0;
}

.splashImage {
  width:auto;
  height:500px;
}

.downArrow {
  padding-top:5rem!important;
}

.fa-angle-down {
  color:$orange;
}

#about {
  height:100vh;
  background-color:#21409a;
  color:white;
}
