//scss variables

@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');

//fonts
$font-main: 'Lato', sans-serif;


//colors
$black:   #000;
$primary: #21409a;
$secondary: #f26522;




