//scss variables

@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700');

@font-face {
font-family: "Franchise";
src: url("../fonts/franchise-bold.ttf");
}

//fonts
$font-main: 'Playfair Display', sans-serif;
$font-display: 'Franchise', sans-serif;


//colors
$black:   #000;
$primary: #21409a;
$secondary: #f26522;
$orange: #f26522;
$blue: #21409a;




