@import url("https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700");
@font-face {
  font-family: "Franchise";
  src: url("../fonts/franchise-bold.ttf"); }

/*----- Global Styles/Settings -----*/
html {
  font-size: 18px;
  font-family: "Playfair Display", sans-serif; }

body {
  background-color: #f9f9f9; }

img {
  display: block;
  border: 0;
  width: 100%;
  height: auto; }

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  box-sizing: border-box; }
  *:before, *:after {
    box-sizing: inherit; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Franchise", sans-serif; }

p {
  font-family: "Playfair Display", sans-serif; }

h2 {
  font-size: 3.5rem; }

.display-p {
  font-size: 1.5rem; }

.icon-title {
  font-size: 1.5rem;
  font-family: "Franchise", sans-serif; }

.row {
  padding-top: 5rem;
  padding-bottom: 5rem; }

/*----------Margin top, bottom, left, right, x and y ----------------*/
.mt-1 {
  margin-top: 1rem; }

.mt-2 {
  margin-top: 2rem; }

.mt-3 {
  margin-top: 3rem; }

.mb-1 {
  margin-bottom: 1rem; }

.mb-2 {
  margin-bottom: 2rem; }

.mb-3 {
  margin-bottom: 3rem; }

.ml-1 {
  margin-left: 1rem; }

.ml-2 {
  margin-left: 2rem; }

.ml-3 {
  margin-left: 3rem; }

.mr-1 {
  margin-right: 1rem; }

.mr-2 {
  margin-right: 2rem; }

.mr-3 {
  margin-right: 3rem; }

.mx-1 {
  margin-left: 1rem;
  margin-right: 1rem; }

.mx-2 {
  margin-left: 2rem;
  margin-right: 2rem; }

.mx-3 {
  margin-left: 3rem;
  margin-right: 3rem; }

.my-1 {
  margin-top: 1rem;
  margin-bottom: 1rem; }

.my-2 {
  margin-top: 2rem;
  margin-bottom: 2rem; }

.my-3 {
  margin-top: 3rem;
  margin-bottom: 3rem; }

/*----------Padding top, bottom, left, right, x and y ----------------*/
.pt-1 {
  padding-top: 1rem; }

.pt-2 {
  padding-top: 2rem; }

.pt-3 {
  padding-top: 3rem; }

.pb-1 {
  padding-bottom: 1rem; }

.pb-2 {
  padding-bottom: 2rem; }

.pb-3 {
  padding-bottom: 3rem; }

.p-l-1 {
  padding-left: 1rem; }

.p-l-2 {
  padding-left: 2rem; }

.p-l-3 {
  padding-left: 3rem; }

.pr-1 {
  padding-right: 1rem; }

.pr-2 {
  padding-right: 2rem; }

.pr-3 {
  padding-right: 3rem; }

.px-1 {
  padding-left: 1rem;
  padding-right: 1rem; }

.px-2 {
  padding-left: 2rem;
  padding-right: 2rem; }

.px-3 {
  padding-left: 3rem;
  padding-right: 3rem; }

.py-1 {
  padding-top: 1rem;
  padding-bottom: 1rem; }

.py-2 {
  padding-top: 2rem;
  padding-bottom: 2rem; }

.py-3 {
  padding-top: 3rem;
  padding-bottom: 3rem; }

nav {
  position: fixed;
  top: 0;
  width: 100%; }

.logo-main {
  width: auto;
  height: 80px; }

.topNav {
  display: flex;
  align-items: center;
  padding-top: 1rem !important; }

.navImage {
  margin-right: auto; }

.navStyle {
  font-size: 1rem;
  font-weight: 700;
  padding-left: 1rem;
  padding-right: 1rem;
  font-family: "Franchise", sans-serif; }

nav ul {
  list-style: none; }
  nav ul li a {
    text-decoration: none;
    color: black; }

.landingPage {
  height: 100vh;
  margin: 0;
  margin-top: 80px; }

.introduction {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.splashImage {
  padding-top: 7rem;
  width: auto;
  height: 500px; }

.fa-angle-down {
  color: #f26522; }

#about {
  background-color: #21409a;
  color: white;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.01), rgba(0, 0, 0, 0.01)), url("/images/aboutBG.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.description {
  display: flex;
  flex-direction: row;
  justify-content: flex-start; }

.left {
  flex: 0 0 60%;
  text-align: left;
  padding-left: 3rem; }

.colorwave {
  color: #f26522; }

.service-row {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap; }

.service-item {
  flex: 0 0 25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.serviceImg {
  height: 150px;
  width: auto;
  padding-bottom: 1rem; }

.customers {
  background-color: #21409a; }

#loader {
  width: 100vw;
  height: 100vh;
  background-color: #21409a;
  color: #fff;
  display: flex;
  justify-content: center;
  flex-flow: nowrap column;
  align-items: center; }

#pageContainer {
  display: none;
  text-align: center; }

.loading {
  display: flex;
  margin: 24px 0; }

.splashlogo {
  width: 500px;
  height: auto; }

.loading__element {
  font: normal 100 1rem/1 Roboto;
  letter-spacing: .5em; }

[class*="el"] {
  animation: bouncing 2s infinite ease; }

.el1 {
  animation-delay: 0.1s; }

.el2 {
  animation-delay: 0.2s; }

.el3 {
  animation-delay: 0.3s; }

.el4 {
  animation-delay: 0.4s; }

.el5 {
  animation-delay: 0.5s; }

.el6 {
  animation-delay: 0.6s; }

.el7 {
  animation-delay: 0.7s; }

.el8 {
  animation-delay: 0.8s; }

.el9 {
  animation-delay: 0.9s; }

@keyframes bouncing {
  0%, 100% {
    transform: scale3d(1, 1, 1); }
  50% {
    transform: scale3d(0, 0, 1); } }

.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s; }

@keyframes animatebottom {
  from {
    bottom: -300px;
    opacity: 0; }
  to {
    bottom: 0;
    opacity: 1; } }
